@import './navbar.scss';
@import './mixins.scss';


:root{
    font-size: 10px;
    --blue-1:#1E1F26;
    --blue-2:#283655;
    --blue-3:#4d648d;
    --blue-4:#d0e1f9;
    --white:#fff;
    --black:rgb(0, 0, 0);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

